{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "max-len": 0,
    "object-curly-spacing": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-space-before-closing": 0,
    "react/sort-comp": 0
  }
}
